<h1>Samuel Jeffries</h1>
<h3>About Me</h3>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "http://via.placeholder.com/1000x100", width: "300", alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>What can I say? I'm just a guy who learned how to code :p </p> 
  </div> 
