<div class="app-card-container">
  <div class="card">
    <h1>Samuel Jeffries</h1>
      <h3>About Me</h3>
      
      <hr>
      
    <div class="row">
        <div class="col-md-4">
          <%= image_tag "MC Zelda.jpg", width: "300", alt: "Profile Image", class: 'profile-img' %>
        </div>
      
      <div class="col-md-8">
          <p>I am a student of Kearns High School. I've been in the higher courses of school (GT, AP, Honors) for my whole life, and I'm generally an overall chill guy. Oh, and I can program. I only, recently started *really* programming on June 12, 2017 and, hopefully since then I've decided to not be lazy and actually continue.</p>
          
          <p>I enjoy many video games, usually retro ones, but I do enjoy many newer games as well. This may be important to note, when looking at the games I have made.</p>
      </div>
    </div> 
  </div>
</div>