          <div class="inner cover">
      <div class="site-wrapper-inner">
      <p class="lead">This is my portfolio site, so yeah.</p>
        <div class="cover-container">
              <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
