          <div class="inner cover">
      <div class="site-wrapper-inner">
        <h2>Samuel Jeffries Portfolio</h2>
      <p class="lead">This website contains information about my coding successes and many other things.</p>
        <div class="cover-container">
              <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
