          <div class="inner cover">
      <div class="site-wrapper-inner">

        <div class="cover-container">
              <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
